body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    overflow: auto; /* Enable scrolling */
    background-image: url(/docs/images/ProjectsBackgroundImage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    color: white;
}

::selection {
    background-color: rgb(255, 255, 255); /* Highlight background color */
    color: #000000;          /* Highlight text color */
}


/* ADD THIS BLURRED COLOR BACKGROUND INTO OTHER PAGES OR OTHER SECTIONS OF WEBSITE WHEN NEEDED.
.color {
    height: auto;
    width: auto;
    background-image: radial-gradient(closest-side, rgba(164, 167, 0, 0.488), black);
}
*/

/* 
.video-background {
    position: fixed; /* Keep the video fixed in the background 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
} 
*/

.navbar {
  position: fixed;
  top: 0;
  height: 80px;
  width: 50%; /* Default width for larger screens */
  margin-top: 30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.546);
  backdrop-filter: blur(20px);
  z-index: 2;
  border: 0.5px solid #3D3D3D;
}

.navbar ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar ul li {
  margin: 10px 20px;
}

.navbar ul li a {
  color: #4d4d4d;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.4s, color 0.4s, border-color 0.4s;
}

.navbar ul li a:hover {
  color: white;
}

@media (max-width: 768px) {
  .navbar {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
}



h1 {
    margin-top: 14ch;
    padding: 40px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust card width as needed */
    gap: 40px; /* Gap between cards */
    padding: 20px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 240px;
    justify-items: center;
    justify-content: center;
  }

  /* Basic styling for the card */
  .card {
    border: 1px solid #3D3D3D;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.5s ease;
    background-color: #000000;
    width: 360px;
    height: auto;
  }

  /* Styling for the image */
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }

  /* Styling for the description */
  .card .description {
    padding: 20px;
    background-color: rgb(0, 0, 0);
    margin-top: -30px;
  }

  /* Styling for the date */
  .card .date {
    text-align: center;
    color: #888;
    font-style: italic;
    font-size: 0.9em;
    margin-top: 20px;
  }



  .site-footer {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 6px 6px 0px 0px;
    border: 0.5px solid #3D3D3D;
    border-bottom-style: none;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin-right: 20px; /* Adjust spacing between sections */
    margin-bottom: 20px;
  color: white;
  padding: 10px;
}

.footer-section h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.email-section form {
    display: flex;
    align-items: center;
}

.email-section input[type="email"] {
    width: 100px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* EMAIL INPUT ACTIVE STYLING FOR FUTURE UPDATE
.email-section:active{
  border: none;
}
*/

.email-section button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #000000;
    border: 0.5px solid #3D3D3D;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 6px;
    width: 100%;
}

.footerPages {
  margin-left: 30px;
}


.pages-section ul {
    list-style-type: none;
    padding: 0px;
    margin-left: 30px;
}

.pages-section ul li {
    margin-bottom: 5px;
}

.pages-section ul li a {
    color: #3D3D3D;
    text-decoration: none;
}

input {
  background-color: #ffffff;
  border: 2px solid #3D3D3D;
}

.contact-info-section p {
    font-size: 14px;
    line-height: 1.6;
}
