body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: auto; /* Enable scrolling */
    background: black;
}

::selection {
    background-color: rgb(255, 255, 255); /* Highlight background color */
    color: #000000;          /* Highlight text color */
}


/* ADD THIS BLURRED COLOR BACKGROUND INTO OTHER PAGES OR OTHER SECTIONS OF WEBSITE WHEN NEEDED.
.color {
    height: auto;
    width: auto;
    background-image: radial-gradient(closest-side, rgba(164, 167, 0, 0.488), black);
}
*/

/* 
.video-background {
    position: fixed; /* Keep the video fixed in the background 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
} 
*/
.navbar {
    position: fixed;
    top: 0;
    height: 80px;
    width: 50%; /* Default width for larger screens */
    margin-top: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.546);
    backdrop-filter: blur(20px);
    z-index: 2;
    border: 0.5px solid #3D3D3D;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .navbar ul li {
    margin: 10px 20px;
  }
  
  .navbar ul li a {
    color: #4d4d4d;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.4s, color 0.4s, border-color 0.4s;
  }
  
  .navbar ul li a:hover {
    color: white;
  }
  
  @media (max-width: 768px) {
    .navbar {
      width: 90%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
  

.color {
    height: auto;
    width: auto;
    background-image: radial-gradient(closest-side, rgba(86, 0, 167, 0.421), black);
}


.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 40px;
}

h1 {
    text-align: left;
    font-size: 10vh;
    margin-top: 100px;
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
    h1 {
        font-size: 8vh;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 6vh;
    }
}

.h1tag {
    text-align: left;
    font-size: 3vh;
    color: #a8a8a8;
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
    .h1tag {
        font-size: 2.5vh;
        margin-top: -25px;
    }
}

@media (max-width: 480px) {
    .h1tag {
        font-size: 2vh;
        margin-top: -20px;
    }
}

.button1 {
    text-align: left;
    margin-bottom: 50px;
    margin-left: 200px;
}

.aboutmebutton {
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 20px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s, border-color 0.4s;
    border-radius: 6px;
}

.aboutmebutton:hover {
    background-color: white;
    color: black;
    border-color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.header-image {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    max-width: 100%; /* Ensure the image is responsive */
    width: 1000px; /* Set width to 1000px on larger screens */
    height: auto;
    border-radius: 12px; /* Optional: Add border-radius if desired */
    margin-bottom: 20px; /* Adjust margin as needed */
    cursor: pointer;
}

@media (max-width: 1000px) {
    .header-image {
        width: 100%; /* Make image responsive below 1000px width */
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px; /* Adjust margin-top to create space below the image */
}


.card {
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    text-align: left;
    color: rgb(255, 255, 255);
    margin: 10px; /* Added margin to create space between cards */
}

.card img {
    width:100%;
    height: auto;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: -30px;
    margin-top: -30px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255); /* Change to your desired color */
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.4s, color 0.4s, border-color 0.4s;
}

.button:hover {
    background-color: rgb(128, 128, 128); /* Change to your desired hover color */
}





.ThreatIntelligencecard {
    background-color: rgba(0, 6, 90, 0.281);
    border-radius: 12px;
    border: 1px solid rgb(0, 174, 255);
    padding: 20px;
    text-align: left;
    color: rgb(255, 255, 255);
    margin: 10px; /* Added margin to create space between cards */
}

.ThreatIntelligencecard img {
    width:100%;
    height: auto;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: -30px;
    margin-top: -30px;
}

.TIbutton {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 174, 255); /* Change to your desired color */
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.4s, color 0.4s, border-color 0.4s;
}

.TIbutton:hover {
    background-color: rgb(0, 87, 128); /* Change to your desired hover color */
}





/* Responsive Nav Bar Styles */
@media (max-width: 768px) {
    .navbar ul {
        justify-content: space-around; /* Distribute space around items */
    }

    .navbar ul li {
        margin: 10px 10px; /* Reduce margin for smaller screens */
    }

    .navbar ul li a {
        font-size: 16px; /* Adjust font size for smaller screens */
    }
}




.site-footer {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 6px 6px 0px 0px;
    border: 0.5px solid #3D3D3D;
    border-bottom-style: none;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin-right: 20px; /* Adjust spacing between sections */
    margin-bottom: 20px;
  color: white;
  padding: 10px;
}

.footer-section h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.email-section form {
    display: flex;
    align-items: center;
}

.email-section input[type="email"] {
    width: 100px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* EMAIL INPUT ACTIVE STYLING FOR FUTURE UPDATE
.email-section:active{
  border: none;
}
*/

.email-section button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #000000;
    border: 0.5px solid #3D3D3D;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 6px;
    width: 100%;
}

.footerPages {
  margin-left: 30px;
}


.pages-section ul {
    list-style-type: none;
    padding: 0px;
    margin-left: 30px;
}

.pages-section ul li {
    margin-bottom: 5px;
}

.pages-section ul li a {
    color: #3D3D3D;
    text-decoration: none;
}

input {
  background-color: #ffffff;
  border: 2px solid #3D3D3D;
}

.contact-info-section p {
    font-size: 14px;
    line-height: 1.6;
}
